@import "bootstrap";

/* universal */

body {
  padding-top: 100px;
  background-color: #D9F9F6;
}

.main{
  background-image: url("tweet_small2.jpg");
  background-repeat: no-repeat;
  height: 1000px;
}
img:hover
{
  opacity: 0.7;

}

#headerr{

  height:60px;
}
#about{
  padding-top: 100px;
background-color: #F0FFFF;

  height: 400px;
  width: 1150px;
}
#aboutlogo:hover{
  background-color:#D9F9F6;
  color:#000000;
  border: 2px solid #483D8B;
}
section {
  overflow: auto;
}


#heading{
  color: #483D8B;
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  line-height: 50px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

#subheading{
  color: #1E90FF;
  font-family: "Great Vibes", cursive;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  margin: 0 0 24px;

}
#signupbtn{
   background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  border-radius: 12px;

   -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 1s;
    /* Standard syntax */
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
  border: 2px solid #000066;
}

#signupbtn:hover {
   background-color: #008CBA;
  width:300px;
    color: white;
  opacity:07;
  border: 4px solid #000066;
}
.searchbox{
  color: #000000;
  background-color:#F8F8FF;
  border-radius: 12px;
  border: 2px solid #000066;
  padding-left:20px;
  -webkit-animation: mymove 4s infinite; /* Chrome, Safari, Opera */
    animation: mymove 4s infinite;
  width:500px;
}

<<<<<<< HEAD
#microbox{
  background-color: #ffffff;
   border: 2px solid #008CBA;
  color:black;
=======
.searchbox:hover{
  border-radius: 12px;
  border: 4px solid #000066;
  box-shadow: 10px 10px 5px #888888;
}
.searchbutton{
  background-color: #008CBA;
    color: #000000;
    border-radius: 12px;
  border: 2px solid #000066;
  -webkit-animation: mymove 4s infinite; /* Chrome, Safari, Opera */
    animation: mymove 4s infinite;
  width:200px;
}
  /* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {box-shadow: 10px 20px 30px #000066;}
}

/* Standard syntax */
@keyframes mymove {
    50% {box-shadow: 10px 20px 30px #000066;}
}

.searchbutton:hover {
 background-color: #000066;
    color: white;
  opacity:07;
  border-radius: 12px;
  border: 4px solid #000066;
  box-shadow: 10px 10px 5px #888888;
>>>>>>> add-search
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #000000;
}

p {
  color: #000000;
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */
.main{
  padding-top: 50px;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #000000;
}

footer a {
  color: #000005;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;

}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}